<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card">
        <div class="card-header" th:text="${titulo}"></div>
        <table class="table mt-5">
            <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>correo</th>
                <th>fecha</th>
                <th>accion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente: ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.createAt}"></td>
                <td>
                    <a class="btn btn-success" th:href="@{/form/} + ${cliente.id}">editar</a>
                    <a class="btn btn-danger" th:href="@{/eliminar/} + ${cliente.id}">eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${page.first? 'page-item disabled': 'page-item'}">
                    <span class="page-link" th:if="${page.first}">First</span>
                    <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">First</a>
                </li>
                <li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
                    <span class="page-link" th:if="${not page.hasPrevious}">Previous</span>
                    <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}">Previous</a>
                </li>

                <li class="page-item" th:each="item: ${page.paginas}" th:class="${item.actual? 'page-item active': 'page-item'}">
                    <span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
                    <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
                </li>

                <li class="page-item" th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
                    <span class="page-link" th:if="${not page.hasNext}">Next</span>
                    <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">Next</a>
                </li>
                <li class="page-item" th:class="${page.last? 'page-item disabled': 'page-item'}">
                    <span class="page-link" th:if="${page.last}">Last</span>
                    <a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>